<h1><%= @places["name"] %></h1>

<div class="row">
  <% for entries in @entries %>
    <div class="col-3">
      <h2><%= entry["title"] %></h2>
      <h3><%= entry["occurred_on"] %></h3>
      <p><%= entry["description"] %></p>
    </div>
  <% end %>
</div>

<a href="/entry">New Post</a>